@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1290px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.wrapper {
  background: rgb(32, 29, 48);
  background: linear-gradient(340deg, rgb(32, 29, 48) 22%, rgb(66, 66, 77) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#201d30",endColorstr="#42424d",GradientType=1);
  min-height: 100vh;
}

.abstract {
  position: fixed;
  right: 0;
  top: 0;
  max-height: 600px;
  z-index: -1;
}

.intro {
  position: relative;
}
.intro__content {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding-top: 100px;
}
.intro__main {
  color: #fff;
}
.intro__main h1 {
  font-size: 48px;
  line-height: 1.2;
}
.intro__main p {
  color: #9b9ba3;
  line-height: 1.5;
  font-size: 14px;
  max-width: 60%;
  margin: 30px 0;
}
.intro__main button {
  padding: 15px 35px;
  border-radius: 13px;
  outline: none;
}
.intro__main button.active {
  background-color: #262C4D;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: 0;
}
.intro__main button.outline {
  background: transparent;
  border: 2px solid #262C4D;
  margin-left: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.intro__main button.outline:hover {
  background-color: #262C4D;
  transition: all 0.3s;
}
.intro__footer {
  display: flex;
}
.intro__footer p {
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bold;
  color: #fff;
}
.intro__footer p span {
  color: #919199;
}